html {
	margin: 5em;
	padding: 5em;
}

body {
	background: #D3EBEB; /* go to http://html-color-codes.info/ to get color codes */
}

h3 {
	color:blue;
	font-size: 2em;
	font-family: Georgia, serif; /* get a list of font families here: http://www.w3schools.com/cssref/css_websafe_fonts.asp */
}

