body {
	background-color: #ffffff;
	margin-left: 5em;
}
a {
	text-decoration: underline;
	font-weight: bold;
	color: #000;
}
a:link {
}
a:visited {
}
a:active {
}
a:hover {
	text-decoration: none;
	color: #396A91;
}

.anchor {
    text-decoration: none;
}

h1 {
	color: #46597D;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 2em;
	line-height: 2.2em;
	font-weight: normal;
}
h2 {
	color: #46597D;
	font-size: 1.8em;
	line-height: 2em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}
h3 {
	color: #46597D;
	font-size: 1.6em;
	line-height: 1.8em;
	font-weight: normal;
}
h4 {
	color: #46597D;
	font-size: 1.4em;
	line-height: 1.6em;
	font-weight: bold;
}
h5 {
	color: #46597D;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: bold;
}
h6 {
	color: #46597D;
	font-size: 0.8em;
	font-weight: bold;
}

ol {
	font-size: 1.0em;
	line-height: 1.8em;
}
ul {
	font-size: 1.0em;
	line-height: 1.8em;
	list-style-type: none;
}
p {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.8em;
	padding: .5em;
}

tr, td {
    font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.8em;
}


div.p {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.8em;
	padding: 1em;
}
div.blockquote {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.8em;
	margin-left: 5em;
	margin-right: 5em;
	letter-spacing: 0.3px;
}
div.lg {
    margin-bottom: 2em;
}

div.byline {
color: #46597D;
	font-size: 1.4em;
	font-weight: normal;
	margin-bottom: 2em;
    
}
.blockquote {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.8em;
	margin-left: 5em;
	margin-right: 5em;
	letter-spacing: 0.3px;
}

.notes {
	font-size: .9em;
	line-height: 1.5em;
}
.p4toc {
	font-size: 1.0em;
	line-height: 1.8em;
	margin: 1.2em 0em 1.2em 2em;
}
.hang {
	font-size: .9em;
	line-height: 1.5em;
	margin-left: 30px;
	text-indent: -30px;
}

.table {
	float: left;
	margin-left: 4em;
	padding: 1em 1em 2em 1em;
}

.epigcit {
	margin-left: 55%;
}
.tocitems {
	margin-left: 7em;
}
.blockleft {
	margin-left: .1em;
	width: 45%;
	float: left;
}
.blockright {
	margin-right: .1em;
	width: 25%;
	float: right;
}
.clear {
	clear: both;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 12pt;
	text-align: center;
	text-indent: 0pt;
	text-decoration: none
}

.titlem {
	font-style: italic;
}
.titlej {
	font-style: italic;
}

.title {
    font-style: italic;
    }
    
.sp {
    font-weight: 700;
}

.stage {
    font-style: italic;
    font-weight: 400;
}

.button {
    margin-left: 2em;
    color: #396A91;
}

.button:hover {
    background-color: #000;
    color: #FFF;
}

.button2:hover {
    text-decoration: none;
	color: #396A91;
}

.indent1 {
    margin-left: 3em;
}

.indent2 {
    margin-left: 6em;
}
.docTitle {
    text-align:center;
}

.stanza {
    margin-left:15em;
    margin-bottom:3em;
}

div.paragraph {
    padding-bottom: 1em;
    }
}

div.page {
    padding-bottom: 1em;
    }
}