body {
    margin: 3em;
    background-color: #CEF6EC;
}

h3 {
	color:blue;
}

/* Type this into your webpage to reference this stylesheet:

<link rel="stylesheet" type="text/css" href="../css/style.css"/>

<style type="text/css">
				h3 {
					color:blue;
				}
		</style> */