html{
    margin:5em;
    padding:5em;
    font-family: 'Arial';
    font-size: 14px;
}

body{
    background:#FCFCFC;
    width: 70%;
}

h3{
    color:#02391B;
    font-size:20px;
}

h4 {
	font-size: 16px;
	color: #125130;
}

/* h5 styles the catchword note */
h5 {
    font-size: 12px;
    text-align: right;
    color: gray;
}

img {
    max-height: 150px;
    max-width: 150px;
}
p {
    font-family: 'Arial';
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

a:link {
    color:#19779C;
}
a:hover {
    color:#47ABD3;
}

a:visited {
    color:#613B7A;
}
